@import './variables.scss';
@import './mixins.scss';

.AboutUs {
	flex: 1 0 auto;
	margin-top: $headerHeight--mobile;
	padding-bottom: 25px;


	&__container {
		margin: 0 auto;
		max-width: $screen-sm-min - 100px;
		padding: 0 25px;
		position: relative;
	}

	&__shadow {
		@include main-box-shadow;
		padding-top: 65px;
	}

	&__heroImg {
		background: $main__background--grey url(../../public/./VirginiaUnderway-about-sm.jpg) 50% no-repeat;
		background-size: cover;
		height: 200px;
		margin: 0;
		padding: 0;
	}

	&__quickFacts {
		align-items: center;
		background-color: $main__background--blackgrey;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		left: 10px;
		position: absolute;
		right: 10px;
		top: -135px;
	}

	.quickFacts__heading {
		color: $white;
		font-size: $normal-font-size;
		font-weight: bold;
		margin: 10px auto 0;
	}

	.quickFacts__list {
		display: flex;
		justify-content: space-between;
		padding: 0;
	}

	.quickFacts__item {
		border-left: 1px dashed #555;
		display: flex;
		flex-direction: column;
		height: 45px;
		justify-content: space-between;
		padding: 0 10px;
		width: 100px;

		h4 {
			color: $mediumgrey;
			font-size: $smallest-font-size;
			margin: 0;
			text-align: center;
		}

		p {
			color: $white;
			font-size: 16px;
			margin: 0;
			padding: 5px 0;
			text-align: center;
		}	
	}

	.quickFacts__item:first-child {
		border-left: none;
	}

	p {
		text-align: justify;
	}
	
	&__list {
		padding: 0;
	}
	
	&__item {
		align-items: center;
		display: flex;
		flex-direction: column;
	}
	
	&__text {
		margin: 0 5px 25px 5px;
	}
	
	&__heading {
		margin-top: 5px;
		text-align: center;
	}
	
	&__logo {
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		flex-shrink: 0;
		height: 75px;
		width: 75px;
	}
	
	&__logo--mission {
		background-image: url(../../public/./missionLogox2.svg);
	}
	
	&__logo--vision {
		background-image: url(../../public/./visionLogox2.svg);
	}
	
	&__logo--people {
		background-image: url(../../public/./peopleLogox2.svg);
	}
	
	&__logo--origins {
		background-image: url(../../public/./originLogox2.svg);
	}
	
	&__logo--contracts {
		background-image: url(../../public/./contractLogox2.svg);
	}
	
	&__contracts-list {
		padding: 0;
		
		li {
			text-align: center;
		}
	}
	
}


/* Media Sizes */


@media (min-width: $screen-sm-min) {
	.AboutUs {
		margin-top: 0;
	
		&__heroImg {
			background-image: url(../../public/./VirginiaUnderway-about-lg.jpg);
			height: 300px;
		}

		&__container {
			max-width: $screen-sm-min - 50px;
			padding: 0;
		}

		&__quickFacts {
			align-items: flex-start;
			flex-direction: row;
			height: 80px;
			left: 0;
			right: 0;
			top: -125px;
		}

		.quickFacts__heading {
			margin: auto 0 auto 30px;
		}

		.quickFacts__list {
			margin: auto 0 auto auto;
		}

		.quickFacts__item {
			padding: 0 0 0 20px;
			width: 125px;

			h4 {
				text-align: left;
			}

			p {
				text-align: left;
			}
		}

		.quickFacts__item:first-child {
			border-left: 1px dashed #555;
		}
		
		&__item {
			align-items: flex-start;
			flex-direction: row;
		}
		
		&__text {
			margin: 0 0 50px 25px;
		}
		
		&__heading {
			text-align: left;
		}
		
		&__logo {
			height: 100px;
			margin: 0 25px;
			width: 100px;
		}
		
		&__contracts-list li {
			text-align: left;
		}
	}
}

@media (min-width: $screen-md-min) {
	.AboutUs {
		&__heroImg {
			height: 400px;
		}

		&__container {
			max-width: $screen-md-min - 50px;
		}

		.quickFacts__item {
			padding-left: 30px;
			width: 150px;
		}
	}
}

@media (min-width: $screen-lg-min) {
	.AboutUs__container {
		max-width: $screen-md-min;
	}
}
