@import './variables.scss';
@import './mixins.scss';

.Acoustics {
	flex: 1 0 auto;
	padding: 25px 0 25px;
	
	&__container {
		margin: $headerHeight--mobile auto 0;
		max-width: $screen-xs-min - 50px;
	}

	&__sonar {
		background-image: url(../../public/./SonarArray-150px.png);
		background-repeat: no-repeat;
		background-size: contain;
		height: 150px;
	}

	&__rig {
		background-image: url(../../public/./AcousticTestRig_CAD-150px.png);
		background-repeat: no-repeat;
		background-size: contain;
		height: 150px;
	}

	&__content {

	}

	&__listItem {

	}
}





/* Media Sizes */

@media (min-width: $screen-sm-min) {
	.Acoustics {
		&__container {
			margin: 0 auto;
			max-width: $screen-sm-min - 50px;
		}

		&__sonar {
			background-image: url(../../public/./SonarArray-250px.png);
			height: 250px;
		}

		&__rig {
			background-image: url(../../public/./AcousticTestRig_CAD-250px.png);
			height: 250px;
		}
	}
}

@media (min-width: $screen-md-min) {
	.Acoustics__container {
		max-width: $screen-md-min - 50px;
	}
}

@media (min-width: $screen-lg-min) {
	.Acoustics__container {
		max-width: $screen-md-min;
	}
}