@import './variables.scss';
@import './mixins.scss';

.capabilities {
	flex: 1 0 auto;
	padding-top: 25px;
	padding-bottom: 25px;
}

.capabilities__container {
	margin: $headerHeight--mobile auto 0;
	max-width: $screen-xs-min - 50px;
}

.capabilities__heading {
	text-align: center;
}

.capabilities__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0;
}

.capabilities__section {
	padding-left: 25px;
	padding-right: 25px;
}


/* Media Sizes */

@media (min-width: $screen-sm-min) {
	.capabilities__container {
		margin: 0 auto;
		max-width: $screen-sm-min - 50px;
	}
	
	.capabilities__heading {
		text-align: left;
	}
	
	.capabilities__list {
		justify-content: space-between;
	}
	
	.capabilities__section {
		padding: 0;
	}
	
}

@media (min-width: $screen-md-min) {
	.capabilities__container {
		max-width: $screen-md-min - 50px;
	}
}

@media (min-width: $screen-lg-min) {
	.capabilities__container {
		max-width: $screen-md-min;
	}
}
