@import './variables.scss';
@import './mixins.scss';

.CapabilitySection {
	flex: 1 0 auto;
	padding: 25px 0 25px;
	
	&__container {
		margin: $headerHeight--mobile auto 0;
		max-width: $screen-xs-min - 50px;
	}
	
	&__heading {
		margin: 15px auto;
		text-align: center;
	}

	&__list {
		padding: 0;
	}

	&__listItem {
		border-bottom: 1px dashed $mediumgrey;
		display: flex;
		flex-direction: column;
		margin: 0 20px;
		padding: 20px 0;
	}

	&__listItem:last-child {
		border-bottom: none;
	}

	&__text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: 0 auto;
		text-align: justify;

		h2 {
			margin: 5px auto;
		}
	}

	&__image {
		background-repeat: no-repeat;
		background-size: cover;
		flex-shrink: 0;
		height: 150px;
		margin: 10px auto;
		width: 150px;
	}

	&__image--design {
		background-image: url(../../public/./DesignExample-150px.png);
	}

	&__image--FEA {
		background-image: url(../../public/./FEAExample-150px.png);
	}

	&__image--CFD {
		background-image: url(../../public/./CFDExample-150px.png);
	}

	&__image--shock {
		background-image: url(../../public/./ShockAnalysisExample-150px.png);
	}

	&__image--electronic {
		background-image: url(../../public/./ElectronicsEnclosureExample-150px.png);
	}
}



/* Media Sizes */

@media (min-width: $screen-sm-min) {
	.CapabilitySection {
		
		&__container {
			margin: 0 auto;
			max-width: $screen-sm-min - 50px;
		}
		
		&__heading {
			margin: 15px auto;
			text-align: left;
		}

		&__listItem {
			flex-direction: row;
			margin: 0;
		}

		&__image {
			height: 250px;
			width: 250px;
		}

		&__text {
			margin: 0 50px;
			
			h2 {
				margin: 5px 0;
			}
		}

		&__image--design {
			background-image: url(../../public/./DesignExample-250px.png);
		}

		&__image--FEA {
			background-image: url(../../public/./FEAExample-250px.png);
		}

		&__image--CFD {
			background-image: url(../../public/./CFDExample-250px.png);
		}

		&__image--shock {
			background-image: url(../../public/./ShockAnalysisExample-250px.png);
		}

		&__image--electronic {
			background-image: url(../../public/./ElectronicsEnclosureExample-250px.png);
		}
	}
}

@media (min-width: $screen-md-min) {
	.CapabilitySection__container {
		max-width: $screen-md-min - 50px;
	}
}

@media (min-width: $screen-lg-min) {
	.CapabilitySection {
		max-width: $screen-md-min;
	}
}