@import './variables.scss';

.st0 {
	fill: #4F8DC6;
}

.st1 {
	fill: #F6AF35;
}

.st2 {
	fill: #4F8DC6;
	stroke: #FFFFFF;
	stroke-width: 1.5;
}

.st3 {
	fill: none;
	stroke: #A9A9A9;
	stroke-width: 2;
}

.st4 {
	fill: #D44B30;
	stroke: #FFFFFF;
	stroke-width: 0.5;
	stroke-miterlimit: 10;
}