@import './variables.scss';
@import './mixins.scss';

.ContactUs {
	@include main-box-shadow;
	flex: 1 0 auto;
	margin-top: 0;
	padding: 25px 10px 25px;

	&__container {
		margin: $headerHeight--mobile auto 0;
		max-width: $screen-xs-min - 50px;
	}

	&__map {
		display: block;
		margin: 30px auto 0;
		width: 100%;
	}
	
	&__googleMap {
		margin-bottom: 15px;
	}
	
	&__googleMap iframe {
		border: none;
		flex-shrink: 0;
		height: 200px;
		width: 200px;
	}
	
	&__legend {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		padding: 0;
	}
	
	&__legend-item {
		align-items: center;
		display: flex;
		justify-content: flex-start;
		margin-right: 50px;
	}
	
	&__star {
		background-image: url(../../public/./STGMapStarLegend.svg);
		background-repeat: no-repeat;
		background-size: contain;
		display: block;
		height: 30px;
		margin-right: 25px;
		width: 30px;
	}
	
	&__rectangle {
		background-color: #F6AF35;
		height: 30px;
		margin-right: 25px;
		width: 30px;
	}
	
	&__email {
		color: $blackgrey;
	}
	
	&__underline {
		border-bottom: solid transparent 1px;
		flex-shrink: 0;
	}

	&__email:hover,
	&__email:focus {
		padding-bottom: 6px;

		.ContactUs__underline {
			border-bottom: solid $blackgrey 1px;
			transition: border-bottom .2s ease;
		}
	}
}

/* Media Sizes */

@media (min-width: $screen-sm-min) {
	.ContactUs {
		padding: 25px 0 25px;
	
		&__container {
			margin: 0 auto;
			max-width: $screen-sm-min - 50px;
		}
		
		&__container--indent {
			padding-left: 50px;
		}

		&__googleMap {
			float: right;
			margin-top: -60px;
		}
		
		&__map {
			height: 600px;
			margin: 50px auto;
		}
		
		&__googleMap iframe {
			height: 300px;
			width: 300px;
		}
		
		&__legend {
			flex-direction: row;
		}
	}
}

@media (min-width: $screen-md-min) {
	.ContactUs {
		&__container {
			max-width: $screen-md-min - 50px;
		}

		&__googleMap {
			margin-right: 200px;
		}
	}
}

@media (min-width: $screen-lg-min) {
	.ContactUs__container {
		max-width: $screen-md-min;
	}
}