@import './variables.scss';
@import './mixins.scss';

.contracts {
	background-color: $lightgrey;
	flex: 1 0 auto;
	padding: 25px 0 25px;
}

.contracts__container {
	margin: $headerHeight--mobile auto 0;
	max-width: $screen-xs-min - 50px;
}

.contracts__heading--main {
	color: $blackgrey;
	text-align: center;
}

.contracts__heading--secondary {
	color: $mediumdarkgrey;
	text-align: center;
}

.contracts__image {
	display: block;
	margin: 0 auto;
	max-width: 80%;
}


/* Media Sizes */

@media (min-width: $screen-sm-min) {
	.contracts__container {
		margin: 0 auto;
		max-width: $screen-sm-min - 50px;
	}
	
	.contracts__heading--main {
		text-align: left;
	}
	
	.contracts__heading--secondary {
		text-align: left;
	}
	
	.contracts__image {
		margin: 0;
		max-width: 80%;
	}
}

@media (min-width: $screen-md-min) {
	.contracts__container {
		max-width: $screen-md-min - 50px;
	}
}

@media (min-width: $screen-lg-min) {
	.contracts__container {
		max-width: $screen-md-min;
	}
}