@import './variables.scss';
@import './mixins.scss';

.Footer {
	background-color: $blackgrey;
	flex-shrink: 0;
	width: 100%;
	
	&__container--dark {
		background-color: $blackgrey;
		font-family: 'Muli', sans-serif;
		font-size: $small-font-size;
		margin: 0 auto;
		max-width: $screen-sm-min - 50px;
		padding-top: 40px;
		text-transform: uppercase;
	}
	
	&__column {
		border-bottom: dashed $mediumdarkgrey 1px;
		padding: 25px 0 16px 0;
		text-transform: uppercase;
	}

	&__column:first-child {
		padding-top: 0;
	}

	&__column:last-of-type {
		border-bottom: none;
		padding-bottom: 25px;
	}
	
	&__header {
		color: $white;
		font-size: $smallest-font-size;
		font-weight: bold;
		line-height: 0.8;
		margin: 0;
		padding-bottom: 10px;
		text-align: center;
	}

	&__list {
		margin: 0;
		padding: 0;
	}

	&__link {
		color: $mediumgrey;
		display: block;
		line-height: 16px;
		padding: 0 0 6px 0;
		text-align: center;
		text-transform: uppercase;
	}

	&__link--active {
		color: $gold;
	}

	&__underline {
		border-bottom: solid transparent 1px;
		flex-shrink: 0;
	}

	&__link:hover,
	&__link:focus {
		padding-bottom: 6px;

		.Footer__underline {
			border-bottom: solid $mediumgrey 1px;
			transition: border-bottom .2s ease;
		}
	}

	&__logo {
		@include image-replace;
		background-image: url(../../public/STG_Logo_Clear-white+grey.svg);
		flex-shrink: 0;
		height: 26px;
		margin: auto;
		width: 107px;
	}

	&__address {
		color: $footer__address--textGrey;
		font-size: $small-font-size;
		line-height: 18px;
		margin-top: 4px;
		text-align: center;
	}

	&__copyright {
		align-items: center;
		background-color: $black;
		color: $textgrey;
		display: flex;
		font-size: $small-font-size;
		height: $copyrightHeight;
		justify-content: center;
		text-transform: uppercase;

		small {
			max-width: $screen-sm-min - 50px;
			text-align: center;
		}	
	}
}



/* Media Sizes */

@media (min-width: $screen-sm-min) {
	
	.Footer {
	
		&__container--dark {
			height: $footerHeight;
			max-width: $screen-sm-min - 50px;
		}

		&__nav {
			display: flex;
			flex-grow: 1;
			justify-content: space-between;
		}
		
		&__column {
			border-bottom: none;
			border-right: dashed $mediumdarkgrey 1px;
			height: 100px;
			margin-bottom: 0;
			padding: 0 0 0 25px;
			width: 270px;
		}

		&__column:last-of-type {
			border-right: none;
			padding-bottom: 0;
		}

		&__header {
			text-align: left;
		}
		
		&__link {
			align-items: center;
			display: flex;
			text-align: left;
		}

		&__logo {
			margin: auto 20px auto 0;
			width: 160px;
		}

		&__address {
			text-align: left;
		}

		&__copyright small {
			max-width: $screen-sm-min - 50px;
		}
	}
}

@media (min-width: $screen-md-min) {
	.Footer__container--dark {
		max-width: $screen-md-min - 50px;
	}
	
	.Footer__copyright small {
		max-width: $screen-md-min - 50px;
	}
}

@media (min-width: $screen-lg-min) {
	.Footer__container--dark {
		max-width: $screen-md-min;
	}
	
	.Footer__copyright small {
		max-width: $screen-md-min;
	}
}