@import './variables.scss';
@import './mixins.scss';

.Header {
	background-color: $blackgrey;
	flex-shrink: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;

	&__nav {
		background: $mediumdarkgrey;
		bottom: 0;
		font-family: 'Muli', sans-serif;
		left: 0;
		margin: 0;
		position: fixed;
		right: 0;
		top: 40px;
		transition: transform 1.0s ease;
		transform: translateX(100%);
	}

	&__nav--menuOpen {
		flex-direction: column;
		justify-content: space-around;
		transform: translateX(0);
		transition: transform 1.0s ease;
	}

	&__container--dark {
		background-color: $blackgrey;
		color: $white;
		margin: 0 auto;
		max-width: $screen-sm-min - 50px;
	}

	&__logo {
		@include image-replace;
		background-image: url(../../public/STG_Logo_Clear-white+grey.svg);
		flex-shrink: 0;
		height: 30px;
		margin: 5px auto;
		width: 120px;
	}

	&__heading {
		display: block;
		font-size: $normal-font-size;
		height: 100%;
		text-transform: uppercase;
		width: 100%;
	}
}


.Header__hamburger {
	background-color: $blackgrey;
	display: block;
	height: 17px;
	margin: 0 auto;
	outline: none;
	position: absolute;
	right: 25px;
	top: 11px;
	width: 30px;

	/* Hamburger Open X */

	&--menuOpen {
		border: none;
	}

	&--menuOpen:before,
	&--menuOpen:after {
		background: $mediumgrey;
		content: "";
		height: 3px;
		left: 0px;
		position: absolute;
		top: 7px;
		width: 100%;
	}

	&--menuOpen:before {
		transform: rotate(-45deg);
		transition: transform 0.25s;
	}

	&--menuOpen:after {
		transform: rotate(45deg);
		transition: transform 0.25s;
	}

	&--menuOpen:hover::before,
	&--menuOpen:focus::before,
	&--menuOpen:hover::after,
	&--menuOpen:focus::after {
		background: $gold;
		transition: transform 0.25s, background .5s;
	}

	/* Hamburger Closed */
	&--menuClosed {
		border-bottom: 3px solid $mediumgrey;
		border-left: none;
		border-right: none;
		border-top: 3px solid $mediumgrey;
		transition: border-color .5s;
	}

	&--menuClosed:before,
	&--menuClosed:after {
		background: $mediumgrey;
		content: "";
		height: 3px;
		left: 0px;
		position: absolute;
		top: 4px;
		transform: rotate(0);
		transition: transform 0.25s, background .5s;
		width: 100%;	
	}

	&--menuClosed:hover,
	&--menuClosed:focus {
		border-color: $gold;
		transition: border-color .5s, background .5s;
	}

	&--menuClosed:hover::before,
	&--menuClosed:focus::before,
	&--menuClosed:hover::after,
	&--menuClosed:focus::after {
		background: $gold;
		transition: background .5s;
	}
}


/* Main Nav */		

.Header-nav-main {
	padding: 0;
	
	&__link {
		color: $white;
		display: block;
		font-size: $normal-font-size;
		padding: 15px 9px;
		text-align: center;
		text-transform: uppercase;
	}
	
	&__link:hover {
		.Header-nav-main__underline {
			border-bottom: solid $gold 2px;
			transition: border-bottom .2s ease;
		}
	}
	
/*
	
	&__link:focus {
		outline-color: initial;
    outline-style: dotted;
    outline-width: thin;
	}
	
	&__link:active {
		outline: none;
	}
	
	*/
	

	
	&__underline {
		border-bottom: solid transparent 2px;
		flex-shrink: 0;
		}

	&__navItem--active {
		background-color: $meddarkgrey;
		color: $gold;
	}
	
}

	
/* Tools Nav */

.Header-nav-tools {
	background-color: $blackgrey;
	margin: 0 auto;
	width: 100%;
	
	&__heading {
		border-bottom: 1px solid #454545;
		background-color: $blackgrey;
		color: $mediumgrey;
		font-size: $normal-font-size;
		margin: 0;
		padding-bottom: 2px;
		padding-top: 10px;
		text-align: center;
	}
	
	&__list {
		padding: 0;
	}

	&__link {
		color: $mediumgrey;
		display: block;
		font-size: $normal-font-size;
		line-height: 18px;
		padding: 15px 8px;
		text-align: center;
		text-transform: uppercase;	
	}
	
	&__link:hover {
	 .Header-nav-tools__underline {
			border-bottom: solid $mediumgrey 2px;
			transition: border-bottom .2s ease;
		}
	}
	
	/*
	
	&__link:focus {
		outline-color: initial;
    outline-style: dotted;
    outline-width: thin;
	}
	
	&__link:active {
		outline: none;
	}
	
	*/

	&__underline {
		border-bottom: solid transparent 2px;
		flex-shrink: 0;
	}
}




/* Media Sizes */

@media (min-width: $screen-sm-min) {
	
	.Header {
		position: static;
		
		&.menuOpen {
			position: static;
			width: 100%;
			z-index: 0;
		}
		
		&__hamburger {
			display: none;
		}

		&__container--dark {
			display: flex;
			height: 75px;
			justify-content: space-between;
			margin: 0 auto;
			max-width: $screen-sm-min - 50px;
		}

		&__logo {
			height: 30px;
			margin: auto 10px auto 0;
			width: 120px;
		}
	}
	
	
	.Header__nav {
		background: $blackgrey;
		display: flex;
		flex-direction: row;
		flex-grow: 1;
		justify-content: space-between;
		position: static;
		
		&--menuOpen,
		&--menuClosed {
			display: flex;
		}
		
		&--menuClosed {
			background: $blackgrey;
			transform: none;
			position: static;
			transition: none;
		}
		
		&--menuOpen {
			flex-direction: row;
			justify-content: space-between;
			transform: none;
			transition: none;
		}
	}
	
	
	.Header-nav-main {
		display: flex;
		justify-content: flex-start;
		margin: auto 0;
		
		&__navItem--active {
			background-color: $blackgrey;
		}
	}
	
	.Header-nav-tools {
		height: 80%;
		margin: auto 0;
		width: auto;
		
		&__list {
			display: flex;
			justify-content: flex-start;
			margin: 0;
			padding: 0;
		}
		
		&__heading {
			color: $mediumgrey;
			font-size: 11px;
			margin: 0 auto;
			padding-top: 0;
			text-align: center;
		}
		
		&__link {
			color: $mediumgrey;
			font-size: $small-font-size;
			font-weight: bold;
		}
	}
	

	
	
}

/* Desktop Screen Size */

@media (min-width: $screen-md-min) {
	.Header {
		&__container--dark {
			max-width: $screen-md-min - 50px;
		}

		&__logo {
			height: 37px;
			margin: auto 20px auto 0;
			width: 160px;
		}

		&-nav-main {
			margin: 14px 0;
		}
	}
}

/* XL Desktop Screen Size */

@media (min-width: $screen-lg-min) {
	.Header__container--dark {
		max-width: $screen-md-min;
	}
}