@import './variables.scss';
@import './mixins.scss';

.Home {
	flex: 1 0 auto;
	margin-top: $headerHeight--mobile;
	padding-bottom: 25px;

	&__heroImg {
		background-image: url(../../public/./VirginiaApproach-home-sm.jpg);
		background-position: 50%;
		background-repeat: no-repeat;
		background-size: cover;
		height: 300px;
	}

	&__heroText {
		align-items: center;
		background-color: transparent;
		color: $white;
		display: flex;
		font-family: 'Muli', sans-serif;
		font-size: $large-hero-font-size;
		font-weight: 700;
		justify-content: center;
		margin: 0 auto 0;
		max-width: $screen-sm-min - 50px;
		padding: 5px 0;
		text-align: center;
	}

	&__background--blackgrey {
		background-color: $blackgrey;
	}

	&__shadow {
		@include main-box-shadow;
		padding-top: 25px;
	}

	&__container {
		margin: 0 auto;
		max-width: $screen-sm-min - 200px;
	}

	&__content {
		font-size: $large-font-size;
		margin: 0;
		padding: 20px 25px 0;
		text-align: justify;
	}

	&__content:first-child {
		padding-top: 25px;
	}

	&__content:last-child {
		padding-bottom: 25px;
	}
	
	&__links {
		display: flex;
		flex-direction: column;
	}
	
	&__link {
		color: $blackgrey;
		display: block;
		font-family: 'Muli', sans-serif;
		font-size: $large-font-size;
		height: 66px;
		margin: 20px auto;
		overflow: hidden;
		position: relative;
		width: 350px;
	}
	
	&__link-text {
		background-color: $gold-transparent;
		height: 66px;
		position: absolute;
		text-align: center;
		top: 0;
		transition: transform 1s ease;
	}
	
	&__link-heading {
		margin: 20px auto;
	}
	
	&__link-description {
		padding: 5px;
	}
	
}


/* Media Sizes */

@media (min-width: $screen-sm-min) {
	.Home {
		margin-top: 0;
		
		&__content {
			padding: 25px 45px 0;
		}

		&__content:first-child {
			padding-top: 45px;
		}

		&__content:last-child {
			padding-bottom: 45px;
		}
	
		&__heroImg {
			background-image: url(../../public/./VirginiaApproach-home-lg.jpg);
			background-position: 0% 0%;
			background-repeat: no-repeat;
			background-size: cover;
			height: 500px;
		}

		&__heroText {
			background-color: transparent;
			justify-content: center;
			margin: -98px auto 0;
			max-width: $screen-sm-min - 50px;
			padding: 31px 0;
		}

		&__background--blackgrey {
			background-color: $blackgrey-transparent;
		}

		&__container {
			max-width: $screen-sm-min - 200px;
		}
		
		&__links {
			flex-direction: row;
		}
		
		&__link {
			height: 200px;
			margin: 50px auto;
			width: 250px;
		}
		
		&__link--who {
			background: $main__background--grey url(../../public/./whoWeAreLinkImage.png) 50% no-repeat;
			background-size: cover;
		}

		&__link--what {
			background: $main__background--grey url(../../public/./whatWeDoLinkImage.png) 50% no-repeat;
			background-size: cover;
		}
		
		&__link-text {
			height: 200px;
			top: 134px;
			transition: transform 1s ease;
		}

		&__link:hover .Home__link-text,
		&__link:focus .Home__link-text {
			transform: translateY(-134px);
		}
		
	}
}

@media (min-width: $screen-md-min) {
	.Home {
		&__heroText {
			max-width: $screen-md-min - 50px;
		}
	
		&__container {
			max-width: $screen-md-min - 200px;
		}
		
		&__link {
			height: 300px;
			margin: 50px auto;
			width: 350px;
		}
		
		&__link-text {
			height: 300px;
			top: 234px;
			transition: transform 1s ease;
		}

		&__link:hover .Home__link-text,
		&__link:focus .Home__link-text {
			transform: translateY(-234px);
		}
		
		&__link-description {
			padding: 15px;
		}
	}
}

@media (min-width: $screen-lg-min) {
	.Home {
		&__heroText {
			max-width: $screen-md-min;
		}

		&__container {
			max-width: $screen-md-min - 200px;
		}
	}
}

@media (min-width: $screen-xl-min) {
	.Home__heroImg {
		height: 700px;
	}
}