@import './variables.scss';
@import './mixins.scss';

* {
	box-sizing: border-box;
}

html {
	height: 100%;
	position: relative;
}

body {
	background-color: $white;
	font-family: 'Muli', 'Helvetica', sans-serif;
	font-size: $normal-font-size;
	height: 100%;
	margin: 0 auto;
}

#root {
	height: 100vh;
}

.app {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

main {
	background-color: $white;
}