@import './variables.scss';
@import './mixins.scss';

.taskOrders {
	background-color: $lightgrey;
	flex: 1 0 auto;
	padding: 25px 0 25px;
}

.taskOrders__container {
	margin: $headerHeight--mobile auto 0;
	max-width: $screen-xs-min - 50px;
}

.taskOrders__heading--main {
	color: $blackgrey;
	text-align: center;
}

.taskOrders__list {
	padding: 0;
}

.taskOrders__heading--contractNo {
	color: $mediumdarkgrey;
	padding-top: 25px;
	text-align: center;
}

.taskOrders__heading--mod {
	color: $mediumdarkgrey;
	text-align: center;
}

.taskOrders__link {
	color: $mediumdarkgrey;
	display: block;
	text-align: center;
	
	span {
		display: block;
		padding: 5px 0;
	}
}

.taskOrders__link:hover {
	color: $mediumgrey;
}

.taskOrders__image {
	display: block;
	margin: 0 auto;
	max-width: 80%;
}


/* Media Sizes */

@media (min-width: $screen-sm-min) {
	.taskOrders__container {
		margin: 0 auto;
		max-width: $screen-sm-min - 50px;
	}

	.taskOrders__heading--main {
		text-align: left;
	}
	
	.taskOrders__heading--contractNo {
		text-align: left;
	}
	
	.taskOrders__heading--mod {
		text-align: left;
	}
	
	.taskOrders__link {
		text-align: left;
	}
	
	.taskOrders__image {
		margin: 0;
		max-width: 80%;
	}
	
}

@media (min-width: $screen-md-min) {
	.taskOrders__container {
		max-width: $screen-md-min - 50px;
	}
}

@media (min-width: $screen-lg-min) {
	.taskOrders__container {
		max-width: $screen-md-min;
	}
}