@import './variables.scss';
@import './mixins.scss';

.tools {
	flex: 1 0 auto;
	padding: 25px 0 25px;
}

.tools__container {
	margin: $headerHeight--mobile auto 0;
	max-width: $screen-xs-min - 50px;
}

.tools__heading {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.tools__nav {
	font-family: 'Muli', sans-serif;
	font-size: $small-font-size;
	max-width: $screen-sm-min - 50px;
}
	
.tools__list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.tools-navItem__link {
	background: linear-gradient(to bottom,#f2f2f2,rgba(242,242,242,0.8));
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.25);
	color: $nav__secondary--textGrey;
	display: block;
	font-size: $small-font-size;
	margin: 25px auto;
	padding: 10px 25px;
	text-align: center;
	width: 200px;
}

.tools-navItem__link:hover {
	background: rgba(242,242,242,0.25);
	text-decoration: underline;
}

.tools-navItem--active {
	background: rgba(242,242,242,0.25);
	color: $nav__secondary--activeBlue;
	font-weight: bold;
}


/* Media Sizes */

@media (min-width: $screen-sm-min) {
	.tools__container {
		margin: 0 auto;
		max-width: $screen-sm-min - 50px;
	}
	
	.tools__heading {
		padding: 0;
	}
	
	.tools__nav {
		max-width: $screen-sm-min - 50px;
	}
}

@media (min-width: $screen-md-min) {
	.tools__container {
		max-width: $screen-md-min - 50px;
	}
	
	.tools__nav {
		max-width: $screen-md-min - 50px;
	}
}

@media (min-width: $screen-lg-min) {
	.tools__container {
		max-width: $screen-md-min;
	}
	
	.tools__nav {
		max-width: $screen-md-min;
	}
}