/*
 * Colors
 * ========================================================================== */

$black: #0e1112;
$blue: #3569a4;
$blue-transparent: rgba(53, 105, 164, 0.92);
$gold: #CCAC55;
$gold-transparent: rgba(204, 172, 85, 0.92);
$white: #fff;

/*grey from lightest to darkest*/
$lightgrey: #e0e0e0;
$mediumgrey: #8b939b;
$textgrey: #666;
$meddarkgrey: #505050;
$mediumdarkgrey: #3a3a3a;
$blackgrey: #181c1f;
$blackgrey-transparent: rgba(24, 28, 31, .92);


/* Header Colors */
$header__background--blackGrey: $blackgrey;
$header__background--black: $black;
$header__nav--activeGold: $gold;
$header__nav--textGrey: $mediumgrey;
$header__nav--textWhite: $white;

/* Secondary Nav Colors */
$nav__secondary--activeBlue: $blue;
$nav__secondary--textGrey: $textgrey;

/* Main Colors */
$main__background--grey: $lightgrey;
$main__background--blackgrey: $blackgrey;
$main__boxShadow--grey: $mediumgrey;
$main--textDarkGrey: $mediumdarkgrey;

/* Footer Colors */
$footer__background--blackGrey: $blackgrey;
$footer__border--grey: $mediumdarkgrey;
$footer__nav--activeGold: $gold;
$footer__nav--textGrey: $mediumgrey;
$footer__address--textGrey: #ccc;
$footer__copyright--backgroundBlack: $black;
$footer__copyright--textGrey: $textgrey;


/*
 * Text Heights
 * ========================================================================== */

$large-hero-font-size: 30px;
$large-header-font-size: 25px;
$large-font-size: 18px;
$normal-font-size: 14px;
$small-font-size: 12px;
$smallest-font-size: 11px;


/*
 * Media queries breakpoints
 * ========================================================================== */

$screen-xs-min: 480px;  /* Extra small screen / phone */
$screen-sm-min: 768px;  /* Small screen / tablet */
$screen-md-min: 992px;  /* Medium screen / desktop */
$screen-lg-min: 1200px; /* Large screen / wide desktop */
$screen-xl-min: 1920px; /* Large screen / wide desktop */


/*
 * Variables Etc.
 * ========================================================================== */

/* Height Variables */
$footerHeight: 170px;
$copyrightHeight: 50px;
$footerHeightTotal: $footerHeight + $copyrightHeight;

$footerHeight--mobile: 567px;
$footerHeightTotal--mobile: $footerHeight--mobile + $copyrightHeight;

$headerHeight--mobile: 40px;


